// breakpoints
$breakpoints: (
  "sp": "screen and (max-width: 767px)",
  "tb": "screen and (min-width: 768px) and (max-width: 1024px)",
  "pc": "screen and (min-width: 1025px)",
  // 閉じ括弧を追加しました
) !default;

@mixin mq($breakpoint: pc) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

.is-sp {
  @include mq(pc) {
    display: none !important;
  }
}
.is-pc {
  @include mq(sp) {
    display: none !important;
  }
  @include mq(tb) {
    display: none !important;
  }
}
// common
body {
  max-width: 750px;
  margin: 0 auto;
  width: 100%;
}
// header
.header {
  display: flex;
  border: 1px solid #888;
  position: fixed;
  max-width: 750px;
  top: 0;
  z-index: 100;
}

// header__lead
.header__lead {
  margin-top: clamp(61px, 1px + 16vw, 121px);
}

// fv
.fv {
  position: relative;
}
.fv__line {
  position: absolute;
  content: "";
  max-width: 88%;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  bottom: clamp(18px, 0px + 4.8vw, 36px);
}
// contact
.contact {
  display: flex;
}
// strength
.strength__title {
  margin-bottom: clamp(18px, 0px + 4.8vw, 36px);
}

.strength__items {
  display: flex;
  flex-direction: column;
  max-width: 92%;
  margin: 0 auto;
  margin-bottom: clamp(25px, 0px + 6.667vw, 50px);
  gap: clamp(34px, 0px + 9.067vw, 68px);
}
.cta {
  position: relative;
}
.cta__btn {
  position: absolute;
  content: "";
  max-width: 88%;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  bottom: clamp(18px, 0px + 4.8vw, 36px);
}
// member
.member__detail {
  background-color: #fef5e8;
}
.member__text {
  max-width: 88%;
  width: 100%;
  margin: 0 auto;
  padding-top: clamp(28px, -0px + 7.467vw, 56px);
  padding-bottom: clamp(28px, -0px + 7.467vw, 56px);
}
.card {
  margin-bottom: clamp(29px, 0px + 7.733vw, 58px);
  padding-bottom: clamp(53px, 0px + 14.133vw, 106px);
}
.card__swiper-container {
  max-width: 92%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* ================================
   本題のCSS
=============================== */
.card__swiper-container,
.card__swiper,
.card__swiper-wrapper,
.card__swiper-slide {
  position: relative;
}

/* 位置のreset */
.swiper-button-prev,
.swiper-button-next,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  top: unset;
  bottom: unset;
  left: unset;
  right: unset;
  margin: 0;
  padding: 0;
}

/* =============================
   ナビゲーションボタン
============================= */
/* デフォルトのボタンを初期化 */
.swiper-button-prev::after,
.swiper-button-next::after {
  content: ""; /* デフォルトのものを初期化 */
}

/* 各ボタンのカスタマイズ */
.swiper-button-prev,
.swiper-button-next {
  top: clamp(197px, 0px + 52.533vw, 394px);
  width: clamp(32px, -1px + 8.8vw, 65px);
  height: clamp(32px, -1px + 8.8vw, 65px);
}

.swiper-button-prev {
  left: clamp(18px, 0px + 4.8vw, 36px);
}

.swiper-button-next {
  right: clamp(18px, 0px + 4.8vw, 36px);
}

/* =============================
   ページネーション (bullets)
============================= */
/* 位置の設定 (枠組み) */
.swiper-pagination-bullets.swiper-pagination-horizontal {
  top: calc(100% + 29px);
}

/* それぞれのページネーション */
.swiper-pagination-bullets.swiper-pagination-horizontal
  .swiper-pagination-bullet {
  opacity: 1;
  width: 12px;
  height: auto;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #d9d9d9;
  margin-inline: calc(11px / 2);
}

/* activeな部分 */
.swiper-pagination-bullets.swiper-pagination-horizontal
  .swiper-pagination-bullet-active {
  background: #000;
}

// voice
.voice {
  background: transparent url(/img/voice-bg.png) no-repeat top center/cover;
  position: relative;
}

.voice__title {
  padding-top: clamp(20px, 0px + 5.333vw, 40px);
  max-width: 84%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: clamp(20px, 0px + 5.333vw, 40px);
}

.voice__items {
  max-width: 95%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: clamp(38px, 0px + 10.133vw, 76px);
  padding-bottom: clamp(33px, 0px + 8.8vw, 66px);
}

.voice__item {
  margin-left: clamp(5px, 0px + 1.333vw, 10px);
  width: 100%;
}
.voice__items .voice__item:nth-child(2) {
  margin-left: clamp(14px, -0px + 3.733vw, 28px);
}
