// breakpoints
$breakpoints: (
  "sp": "screen and (max-width: 767px)",
  "tb": "screen and (min-width: 768px) and (max-width: 1024px)",
  "pc": "screen and (min-width: 1025px)",
  // 閉じ括弧を追加しました
) !default;

@mixin mq($breakpoint: pc) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

.is-sp {
  @include mq(pc) {
    display: none !important;
  }
}
.is-pc {
  @include mq(sp) {
    display: none !important;
  }
  @include mq(tb) {
    display: none !important;
  }
}
// common
body{
    max-width: 750px;
    margin: 0 auto;
    width: 100%;
}
// header
.header {
    display: flex;
    border: 1px solid #888;
    position: fixed;
    max-width: 750px;
    top: 0;

}

// header__lead
.header__lead{
    margin-top: clamp(61px, 1.000px + 16vw, 121px);
}

// fv
.fv{
    position: relative;

}
.fv__line{
    position: absolute;
    content: "";
    max-width: 88%;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    bottom: clamp(18px, 0.000px + 4.8vw, 36px);


}
// contact
.contact{
    display: flex;
}


